* {
  margin: 0;
}

/* header */

/*
header div.container {
  border: 1px solid black;
}
for debugging 
*/

.logo-image {
  display: inline-block;
}

.title {
  display: inline-block;
}
/* /header */

/* main */

main .container {
  width: 80%;
  margin: 50px auto;
  border: 1px solid black;
}

/*button */
button {
  border-radius: 11%;
}
#add-task {
  background-color: #47adf1;
  color: white;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#add-section {
  color: #d4d8dc;
  border-color: #d4d8dc;
  background-color: white;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.adding-button {
  border: 1px solid black;
  padding-top: 12px;
  padding-left: 30px;
  padding-bottom: 8px;
}

/*/button */
.new-task-todo {
  border: 1px solid black;
  padding: 30px;
}
.today-todo {
  border: 1px solid black;
  padding: 30px;
}
.upcoming-todo {
  border: 1px solid black;
  padding: 30px;
}

.check {
  display: inline-block;
  text-align: center;
  font-size: 9px;
  height: 15px;
  width: 15px;
  padding: 1px;
  border-radius: 50%;
  border: 1px solid #6fc6b2;
  color: #6fc6b2;
}

.cross {
  display: inline-block;
  text-align: center;
  font-size: 9px;
  height: 15px;
  width: 15px;
  padding: 1px;
  border: 1px solid #ea5851;
  color: #ea5851;
  border-radius: 50%;
}

div h3,
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* /main */
