* {
  margin: 0;
}

/* header */

/*
header div.container { 
  border: 1px solid black;
}
for debugging 
*/

header div.container {
  vertical-align: middle;
}

.logo-image {
  display: inline-block;
}

.title {
  display: inline-block;
}
/* /header */

/* main */
div.outside-container-color {
  background-color: #f6f8f9;
  padding: 40px;
}
div.adding-button {
  margin-bottom: 2px;
}
.adding-button,
.all-task {
  background-color: white;
}
main .container {
  width: 80%;
  margin: auto;
  background-color: #f6f8f9;
}

/*button */

#add-task {
  border-radius: 7px;
  background-color: #47adf1;
  color: white;
  padding: 9px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
}
#add-section {
  border-radius: 7px;
  color: #d4d8dc;
  border: 1px solid #d4d8dc;
  background-color: white;
  padding: 9px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.adding-button {
  padding-top: 12px;
  padding-left: 30px;
  padding-bottom: 8px;
}

/*/button */
.new-task-todo {
  padding: 30px;
}

.today-todo,
.upcoming-todo {
  line-height: 2.5;
}

.today-todo {
  padding: 30px;
}
.upcoming-todo {
  padding: 30px;
}

.check {
  display: inline-block;
  text-align: center;
  font-size: 9px;
  height: 15px;
  width: 15px;
  padding: 1px;
  border-radius: 50%;
  border: 1px solid #6fc6b2;
  color: #6fc6b2;
  line-height: normal;
}

.cross {
  display: inline-block;
  text-align: center;
  font-size: 9px;
  height: 15px;
  width: 15px;
  padding: 1px;
  border: 1px solid #ea5851;
  color: #ea5851;
  border-radius: 50%;
  line-height: normal;
}

div h3,
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* labels */
.editorial {
  border-radius: 15px;
  color: white;
  padding: 9px;
  background-color: #45abea;
  border: none;
}
.q1-goals {
  border-radius: 15px;
  color: white;
  padding: 9px;
  background-color: #9c72e4;
  border: none;
}
.recruiting {
  border-radius: 15px;
  color: white;
  padding: 9px;
  background-color: #64c0a9;
  border: none;
}
.mobile {
  border-radius: 15px;
  color: white;
  padding: 9px;
  background-color: #f29e33;
  border: none;
}
.website {
  border-radius: 15px;
  color: white;
  padding: 9px;
  background-color: #d863a1;
  border: none;
}
.sales {
  border-radius: 15px;
  color: white;
  padding: 9px;
  background-color: #b0c926;
  border: none;
}
/* /labels */
/* /main */
